@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
    position: fixed; /* Fix the overlay to the screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999; /* Ensure it is above the content */
    pointer-events: none; /* Allow clicks to pass through the overlay */
}
